.corpo{
    display: flex;
    justify-content: center;
    background-color: dimgrey;
}
.container{
    display: flex;
    width: 100%;
    max-width: 900px;
    background: white;
    margin: 10px;
    flex-direction: column;

}
.fieldset{
    margin: 10px;
}

.logo {
    display: flex;
    margin: 10px;
}

.div-logo{
    flex: 1;
}

.div-text{
    flex: 5;
    padding: 10px;
}

.topo {
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 10px;
}

.center{
    flex: 1;
    background: black;
    margin: 10px;
}

.end{
    flex: 1;
    background: black;
    margin: 10px;
}